apiVersion: apps/v1
kind: Deployment
metadata:
  name: php-apache
spec:
  replicas: 2
  selector:
    matchLabels:
      app: php-apache
  template:
    metadata:
      labels:
        app: php-apache
    spec:
      containers:
      - name: php-apache
        image: php:apache
        ports:
        - containerPort: 80
        volumeMounts:
        - mountPath: /var/www/html
          name: web-content
      volumes:
      - name: web-content
        persistentVolumeClaim:
          claimName: nfs-pvc
